 /* Body styles */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #19325e;
    color: #fff;
   
}
h1{
    text-align: center;
    margin-top: 20px;    
}
#main-content{
    display: flex;
    justify-self: center;
}
img {
    width: 250px;
    height: auto; 
    margin-bottom: 10px;
}

#films h3 {
    font-size: 18px;
    margin-top: 0;
}
/* styling the film items container */
.film-items {
    list-style: none;
    width: 50%;
    border: 2px solid #200505;
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
    
}

.description{
    width: 100%;
 }
 /* movie-details container */
 #movie-details{
    width: 50%;
    border: 2px solid #200505;
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
    height: 40%;
    margin-right: 10%;
 }