 /* Body styles */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
 /* CSS styles for movie details
 #movie-details {
    float: right;
    width: 50%;
}

/* CSS styles for movie list */
/* #films {
    float: left;
    width: 50%;
}
#films ul {
    padding: 0;
    list-style: none;
} */ 

#main-content{
    display: flex;
    justify-self: center;
}
img {
    max-width: 60%;
    /* height: auto; */
    margin-bottom: 10px;
}
#films h3 {
    font-size: 18px;
    margin-top: 0;
}